body {
    background-image: url(https://previews.123rf.com/images/volhabelausava/volhabelausava1505/volhabelausava150500021/40301983-hand-drawn-geometric-seamless-pattern-with-circles-vector-doodle-repeating-background.jpg);
}

.products {
    padding: 30px;
    margin-bottom: 500px;
    

    div {
        height: 500px;
        width: 300px;
        border: 2px solid black;
        border-radius: 35px;
        background-color: rgb(255, 255, 255);
        float: left;
        margin-left: 20px;
    }
}

footer {
    width: 100%;
    height: 400px;
    background-color: darkcyan;
    color: white;
    font-size: 25px;
    font-family: 'Courier New';
    padding: 20px 100px 100px 100px; 

    .title {
        font-size: 64px;
        font-weight: bolder;
    }
}