body {
    background-image: url(https://previews.123rf.com/images/volhabelausava/volhabelausava1505/volhabelausava150500021/40301983-hand-drawn-geometric-seamless-pattern-with-circles-vector-doodle-repeating-background.jpg);
}

.products {
    padding: 30px;
    

    div {
        height: 500px;
        width: 300px;
        border: 2px solid black;
        border-radius: 35px;
        background-color: rgb(255, 255, 255);
    }
}
