<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a href="#home" class="w3-bar-item w3-button" style="font-weight: bold;">Fkidz'</a>
        <a href="#about" class="w3-bar-item w3-button">About Us</a>
    </div>
    <h2>Category</h2>
    <div class="chicken">
        <h4>Chicken</h4>
        <a class="chicken" href="products.html"><img src="https://i.pinimg.com/originals/3c/cd/64/3ccd6478d17a8b0b58885324d38f4456.gif" width="200px" height="auto"></a>
    </div>
</body>
<footer>
    <p class="title">Fkidz'</p>
    <p class="desc"></p>
    <p class="contact">Contact Us.</p>
</footer>
</html>