<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Products</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a href="./main.html" class="w3-bar-item w3-button" style="font-weight: bold;">Fkidz'</a>
        <a href="./products.html" class="w3-bar-item w3-button">Products</a>
    </div>
    <div class="products">
        <a><div id="0001">
            <img src="https://uploads-ssl.webflow.com/5cad416e401a6c2d392c03db/5dc052d45ceea2763aa94d27_115508%20Chicken%20Wings.jpg" width="280px" height="auto">
            <h3>Chicken Wings</h3>
            <h5>$2.68</h5>

        </div></a>
        <div id="0002">

        </div>
    </div>
       
</body>
<footer>
    <p class="title">Fkidz'</p>
    <p class="desc"></p>
    <p class="contact">Contact Us. <br> 0999-999-9999 <br> fkidz@gmail.com</p>
</footer>
</html>