<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Products</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a href="./main.html" class="w3-bar-item w3-button" style="font-weight: bold;">Fkidz'</a>
        <a href="./products.html" class="w3-bar-item w3-button">Products</a>
    </div>
    <div class="products">
        <div id="0001">

        </div>
        <div id="0002">

        </div>
    </div>
       
</body>
</html>