body {
    background-image: url(https://previews.123rf.com/images/volhabelausava/volhabelausava1505/volhabelausava150500021/40301983-hand-drawn-geometric-seamless-pattern-with-circles-vector-doodle-repeating-background.jpg);
}

.back {
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 100%;
}

.product {
    margin-top: 40px;
    height: 450px;
    width: 90%;
    border-radius: 0px 35px 35px 0px;
    background-color: white;
    float: right;

    img {
        border-radius: 35px;
    }
}

footer {
    margin-top: 500px;
    width: 100%;
    height: 400px;
    background-color: darkcyan;
    color: white;
    font-size: 25px;
    font-family: 'Courier New';
    padding: 20px 100px 100px 100px; 

    div {
        width: 250px;
        height: auto;
        border: 2px white solid;
        border-radius: 15px;
        text-align: justify;
        padding: 10px;

        .title {
            font-size: 64px;
            font-weight: bolder;
        }

        .desc {
            font-size: 12px;
            font-weight: lighter;
            margin-top: -40px;
        }
    }
}