<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/prducts/style.css">
    <title>Chicken Wing</title>
</head>
<body>
    <a href="/views/products.html"><img class="back" src="https://www.shutterstock.com/image-vector/back-modern-flat-icon-600nw-242284795.jpg" width="100px" height="auto"></a>
    <div class="product">
        <img src="https://uploads-ssl.webflow.com/5cad416e401a6c2d392c03db/5dc052d45ceea2763aa94d27_115508%20Chicken%20Wings.jpg" width="300px" height="200px">
        <h1></h1>
    </div>
</body>
<footer>
    <div>
        <h1 class="title">Fkidz'</h1>
        <h3 class="desc">Your favorite chicken meat seller.</h3>
    </div>
    <p class="contact">Contact Us. <br> 0999-999-9999 <br> fkidz@gmail.com</p>
</footer>
</html>